<div class="container">
  <div class="row">
    <img [src]="product.img" [alt]="product.name">
  </div>
  <div class="row">
    <h5>{{product.name}}</h5>
  </div>
  <div class="row">
    <div>{{product.description}}</div>
  </div>
  <div class="row">
    <div>{{product.category | uppercase }}</div>
  </div>
  <div class="row">
    <div>{{product.price | currency:'BYN '}}</div>
  </div>
  <div class="row">
    <span [ngClass]="product.isAvailable ? 'badge badge-pill badge-primary' : 'badge badge-pill badge-secondary'">{{product.isAvailable ? 'in stock' : '
    order'}}</span>
  </div>
</div>
