.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 900px;
    margin: 0 auto;
  }
  
  .box div {
    width: 200px;
    height: 390px;
  }