* {
  padding: 0;
  margin: 0;
}

body {
  font: 14px/22px "Lato", Arial, sans-serif;
  background: #95a6ca40;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
