p {
  margin: 0;
}

.badge-label {
  background-color: #6394f8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.cart-list-seting {
  margin-top: 5px;
}

.cart-list-toggle {
  margin-top: 5px;
}

.cart-list-label{
  padding-top: 3px;
}

.custombutton {
  margin-top: 10px;
}
